@font-face {
  font-family: 'League Gothic';
  src: local('LeagueGothic-Regular-VariableFont_wdth'), url('../assets/fonts/league-gothic-regular.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: 'Fira Sans';
  src: local('FiraSans-Thin'), url('../assets/fonts/fira-sans-thin.woff2') format('woff2');
  font-weight: 100;
  font-display: swap;
}

@font-face {
  font-family: 'Fira Sans';
  src: local('FiraSans-Regular'), url('../assets/fonts/fira-sans-regular.woff2') format('woff2');
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: 'Fira Sans';
  src: local('FiraSans-Bold'), url('../assets/fonts/fira-sans-bold.woff2') format('woff2');
  font-weight: 700;
  font-display: swap;
}
